<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBt_u1tX_NavSMXQgrkQe8qCs0ouKCwzzw</string>
	<key>GCM_SENDER_ID</key>
	<string>358398871801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aedentek.heybuddy</string>
	<key>PROJECT_ID</key>
	<string>heybuddy-8abaf</string>
	<key>STORAGE_BUCKET</key>
	<string>heybuddy-8abaf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358398871801:ios:6296bda5b0ee5f7ba2fa28</string>
</dict>
</plist>